/* Logo */
#app-architecture {
  max-width: 100%;
}

/* side bar font size */
.main-sidebar {
  font-size: 20px;
}

/* make the background color white */
.content-wrapper {background-color: white;}


#table1-layout

.Rtable1{
  border-spacing: 20px 0;
}
.Rtable1 th {
  padding-left: 15px;
}
.Rtable1 td {
  padding-left: 15px;
  font-weight: normal;
}
.Rtable1 td.rowlabel > span.varlabel {
  font-weight: bold;
  font-size: 11pt;
}
